.overViewContainer {
	display: flex;
	flex-direction: column;
	max-width: 24rem;
	width: 100vw;
	padding: 1rem;
}

.overViewUp {
	margin-top: 1rem;
}

.balance {
	font-size: 1.5rem;
	color: #438ef1;
}

.showForm_btn {
	padding: 0.4rem 1.5rem;
	font-size: 0.9rem;
	background-color: #1f2732;
	color: #fff;
	border-radius: 0.5rem;
}

.overViewUp,
.overViewDown {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.overViewDown {
	justify-content: space-between;
	width: 100%;
	margin: 1rem 0;
}

.overViewDown_Income {
	margin-right: 2rem;
}

.overViewDown_expenseAndIncome {
	width: 50%;
	height: 4.5rem;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 0.7rem;
	background-color: #1f2732;
	border-radius: 0.5rem;
}

.expenseAndIncome_up {
	display: flex;
	justify-content: space-between;
}

.expenseAndIncome_icon {
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 8px;
	padding: 3px;
}

.expense_icon {
	background-color: rgba(235, 87, 87, 0.178);
	color: #eb5757;
}

.Income_icon {
	background-color: rgba(111, 207, 151, 0.178);
	color: #6fcf97;
}
