.App {
	width: 100vw;
	height: 100vh;
	display: flex;
	align-items: center;
	flex-direction: column;
	background-color: #121212;
	color: #f2f2f2;
	overflow: hidden;
}

button {
	outline: none;
	border: none;
}

.simplebar-scrollbar::before {
	background-color: red;
}
